<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="style.css"/>
    <link href = "/styles/verif.css" rel = "stylesheet"/>
    <link href = "/styles/style.css" rel = "stylesheet"/>
    <meta charset="UTF-8" />

    <title>Document</title>
</head>
<body class = "main-theme-black">
    
       <div class = "header">
        <a href = "../index.php">
          <img src="../img/logoWhite.svg" />
        </a>
        <p class = "reg">login</p>
        <a href = "../index.php"><div class = "button"><p>Назад</p></div></a>
       </div> 
  
       <form class="main-form-verificat" method="post" action="../functions/log.php">
        <div class="input-container">
          <input type="text" name = "lg" required="" />
          <label>Логин</label>
        </div>
      
  
        <div class="input-container">
          <input type="text" id="ps1" name = "ps1" required="" />
          <label>Пароль</label>
        <button class="verificat-button" >
          <p class="verificat-button-text">Далее</p>
        </button>
      </div>
    </form>
    <div class = "pict">
        <div class="discription-block-about">
            <div class="discription-block-img">
              <img src="../img/text.svg" />
            </div>
            <p class="discription-block-p">
              Наша философия – полная самостоятельность и независимость клиента. Покупка абонемента не потребует даже посещения зала – он приобретается через интернет, а в личном кабинете можно отслеживать оставшееся время и продлевать его.

            </p>
          </div>
    </div>
 
  <script src = "../js/script.js"></script>
</body>
</html>