<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <link href="/styles/verif.css" rel="stylesheet" />
  <link href="/styles/iside.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/order.css" />
 


  <title>Document</title>
</head>

<body class="main-theme-black">

  <div class="header">
    <div class="main-header-block">
      <i><img src="../img/logoWhite.svg" /></i>
    </div>
    <p class="reg"><span>Профиль - <span>Елизавета Воравко</span></p>
    <a href="/index.html">
      <div class="button">
        <p>Назад</p>
      </div>
    </a>
  </div>

  <div class="menu">
    <div class="menu-el">
      
      <p><a href = "profile.html">Профиль</a></p>

    </div>
    <div class="menu-el">
      <div class="active-el"></div>
      <p><a href = "ord.html">Запись</a></p>

    </div>
    <div class="menu-el">
      <p><a href = "../index.html">Выход</a></p>

    </div>


  </div>

  <div class="container-portfolio1">
    
    <div class = "full-order-card">
        <div class = "order-card-data">MONDEY 04</div>
      <div class ="order-card">
          <div class = "order-card-conteiner">
              <div class = "order-card-name">Mabout cportlife</div>
              <p class ="order-card-conteiner-time">11.00</p>

          </div>
          <div class = "order-card-dis">Contrary to popular belief, Lorem Ipsum is not simply random text</div>
          <div class = "order-card-conteiner">
              <p class = "order-card-conteiner-place">5 places left</p>
              <p class = "order-card-conteiner-trener">ELEN FEDOROVA</p>
          </div>
      </div>
      </div>

      <div class = "full-order-card">
        <div class = "order-card-data">MONDEY 04</div>
      <div class ="order-card">
          <div class = "order-card-conteiner">
              <div class = "order-card-name">Mabout cportlife</div>
              <p class ="order-card-conteiner-time">11.00</p>

          </div>
          <div class = "order-card-dis">Contrary to popular belief, Lorem Ipsum is not simply random text</div>
          <div class = "order-card-conteiner">
              <p class = "order-card-conteiner-place">5 places left</p>
              <p class = "order-card-conteiner-trener">ELEN FEDOROVA</p>
          </div>
      </div>
      </div>

  </div>


</body>

</html>