<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <link href="/styles/verif.css" rel="stylesheet" />
  <link href="/styles/iside.css" rel="stylesheet" />
 


  <title>Document</title>
</head>

<body class="main-theme-black">

  <div class="header">
    <div class="main-header-block">
      <i><img src="../img/logoWhite.svg" /></i>
    </div>
    <p class="reg"><span>Профиль - <span>Елизавета Воравко</span></p>
    <a href="/index.html">
      <div class="button">
        <p>Назад</p>
      </div>
    </a>
  </div>

  <div class="menu">
    <div class="menu-el">
      <div class="active-el"></div>
      <p><a href = "profile.html">Профиль</a></p>

    </div>
    <div class="menu-el">
      <p><a href = "ord.html">Запись</a></p>

    </div>
    <div class="menu-el">
      <p><a href = "/index.html">Выход</a></p>

    </div>


  </div>

  <div class="container-portfolio">
    
    <div class="input-container">
      <input type="text" id="ps1" required="" />
      <label>Имя</label>
      <span class="erorr-message" id="error_ps"></span>
    </div>
    <div class="input-container">
      <input type="text" id="ps1" required="" />
      <label>Фамилия</label>
      <span class="erorr-message" id="error_ps"></span>
    </div>
    <div class="input-container">
      <input type="text" id="ps1" required="" />
      <label>Вес</label>
      <span class="erorr-message" id="error_ps"></span>
    </div>
    <div class="input-container">
      <input type="text" id="ps1" required="" />
      <label>Рост</label>
      <span class="erorr-message" id="error_ps"></span>
    </div>
    <div class="input-container">
      <input type="text" id="ps1" required="" />
      <label>Цель</label>
      <span class="erorr-message" id="error_ps"></span>
    </div>
    <div class="input-container">
      <input type="text" id="ps1" required="" />
      <label>Абонемнт</label>
      <span class="erorr-message" id="error_ps"></span>
    </div>
  </div>


</body>

</html>