<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <link href="/styles/verif.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
    <meta charset="UTF-8" />

    <title>Document</title>
  </head>
  <body class="main-theme-black">

    <div class="header">   
      <a href="../index.php">
        <img src="../img/logoWhite.svg" />
      </a>
      <p class="reg">Регистрация</p>
      <a href = "../index.php"> <div class="button"><p>Назад</p></div></a>
    </div>

    <form class="main-form-verificat" method="post" action="../functions/reg.php">
      <div class="input-container">
        <input type="text" name = "lg" id = "lg" required="" />
        <label>Логин</label>
      </div>
      <div class="input-container">
        <input type="text" id="eme" name = "eme" required="" />
        <label>Почта</label>
        <span id="errer_eme" class="erorr-message"></span>
      </div>

      <div class="input-container">
        <input type="text" id="ps1" name = "ps1" required="" />
        <label>Пароль</label>
      <button class="verificat-button">
        <p class="verificat-button-text">Далее</p>
      </button>
      </div>
    
  </form>
    <div class="pict">
      <div class="discription-block-about">
        <div class="discription-block-img">
          <img src="/img/text.svg" />
        </div>
        <p class="discription-block-p">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia, looked up one of the more obscure
          Latin words, consectetur
        </p>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
