<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <link href="/styles/verif.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />

    <title>Document</title>
  </head>
  <body class="main-theme-black">

    <div class="header">   
      <a href="/index.html">
        <img src="../img/logoWhite.svg" />
      </a>
      <p class="reg">REGISTRATION</p>
      <a href = "/index.html"> <div class="button"><p>Назад</p></div></a>
    </div>

    <div class="main-form-verificat">
      <div class="input-container">
        <input type="text" required="" />
        <label>LOGIN</label>
      </div>
      <div class="input-container">
        <input type="text" id="eme" required="" />
        <label>E-MAIL</label>
        <span id="errer_eme" class="erorr-message"></span>
      </div>

      <div class="input-container">
        <input type="text" id="ps1" required="" />
        <label>PASSWORD</label>
        <span class="erorr-message" id="error_ps"></span>
      </div>
      <a href = "profile.html"><button class="verificat-button">
        <p class="verificat-button-text">NEXT</p>
      </button>
    </a>
    </div>
    <div class="pict">
      <div class="discription-block-about">
        <div class="discription-block-img">
          <img src="/img/text.svg" />
        </div>
        <p class="discription-block-p">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia, looked up one of the more obscure
          Latin words, consectetur
        </p>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
