<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/order.css" />

  </head>
  <body>
    <div class="lending-order">
      <header class="main-header">
        <div class="main-header-block"></div>
        <div class="main-logo">
          <img src="../img/logo.svg" />
        </div>
        <ul class="main-menu">
          <li class="menu-el">about</li>
          <li class="menu-el">services</li>
          <li class="menu-el">order</li>
          <li class="menu-el">profile</li>
        </ul>
        <div class="main-button-profile">
          <p class="main-profile"></p>
        </div>
      </header>
      <div class="main-header"></div>
      <div class="rotate-main-conteiner">
        <p class="main-text">Sportlife Group</p>
        <p class="main-discription">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has
        </p>
      </div>
      <div class="main-conteiner">
        <p class="main-conteiner-title">he standard chunk</p>
        <p class="main-conteiner-dis">Contrary to popular belief</p>
      </div>
    </div>
    

    <div class = "text-description">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College i Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College i</p>
    </div>
    
    <div class = "servesis-cards">
      <div class="title">
        <p>SERVESIS</p>
      </div>
      <div class = "conteiner">
    <div class="main-serves-block-card">
      <img src="/img/serv1.png" />
      <p class="main-trener-block-card-title">Elene werfenuk</p>
      <p class="main-trener-block-card-dis">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </p>
    </div>
    <div class="main-serves-block-card">
      <img src="/img/serv1.png" />
      <p class="main-trener-block-card-title">Elene werfenuk</p>
      <p class="main-trener-block-card-dis">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </p>
    </div>
    <div class="main-serves-block-card">
      <img src="/img/serv1.png" />
      <p class="main-trener-block-card-title">Elene werfenuk</p>
      <p class="main-trener-block-card-dis">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </p>
    </div>
    <div class="main-serves-block-card">
      <img src="/img/serv1.png" />
      <p class="main-trener-block-card-title">Elene werfenuk</p>
      <p class="main-trener-block-card-dis">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </p>
    </div>
    <div class="main-serves-block-card">
      <img src="/img/serv1.png" />
      <p class="main-trener-block-card-title">Elene werfenuk</p>
      <p class="main-trener-block-card-dis">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </p>
    </div>
    <div class="main-serves-block-card">
      <img src="/img/serv1.png" />
      <p class="main-trener-block-card-title">Elene werfenuk</p>
      <p class="main-trener-block-card-dis">
        Contrary to popular belief, Lorem Ipsum is not simply random text
      </p>
    </div>
  </div>
  </div>
  <div class = "footer">
    <div class="title white">
      <p>СOOL TEXT TO BE HERE ?</p>
    </div>
    <div class = "contact">
      <p>+375336671952</p>
      <p>voravkoliza4@gmail.com</p>
    </div>
  </div>

    </body>